/* begin home section */
.home {
    background: no-repeat url("../assets/home/background-home-desktop.jpg");
    background-size: cover; 
    background-position: 100%;
    overflow-x: hidden;
}
.home .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 136px);
    gap: 150px;
}
.home .container .content {
    flex: 1;
}
.home .container .explore {
    width: 274px;
    height: 274px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 50%;
    font-size: 32px;
    transition: var(--main-transition);
}
.home .container .explore:hover {
    outline: 50px solid rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}
/* begin destination */
.destination {
    background: no-repeat url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover; 
    overflow-x: hidden;
}
.destination .container {
    padding: 50px 0 0;
    height: calc(100vh - 136px);
}
.destination .container ul.tabs {
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 100px 0 0;
}
.destination .container ul.tabs li {
    margin-right: 20px;
    padding-bottom: 10px;
    color: var(--secondary-color);
    border-bottom: 2px solid transparent;
}
.destination .container ul.tabs li:hover {
    border-bottom: 2px solid gray;
}
.destination .container ul.tabs li.active {
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
}
.destination .tab-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}
.destination .tab-content .content h2 {
    margin-bottom: 20px;
}
.destination .tab-content .content p {
    margin-bottom: 10px;
}
.destination .tab-content .content hr {
    height: 1px;
    background-color: gray;
    border: 0;
}
.destination .tab-content .data {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 50px;
    margin-top: 20px;
}
/* begin crew */
.crew {
    background: no-repeat url("../assets/crew/background-crew-desktop.jpg");
    background-size: cover; 
    background-position: 100%;
    overflow-x: hidden;
}
.crew .container {
    /* height: calc(100vh - 136px); */
    padding: 50px 0;
    /* overflow-y: hidden; */
}
.crew .tab-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.crew .tab-content .content h4 {
    margin: 20px 0;
}
.crew .tab-content .content h3 {
    margin-bottom: 20px;
}
.crew .tab-content img {
    width: 75%;
    height: 100%;
}
.crew .tabs.tabs-mobile {
    display: none;
}
.crew .tabs {
    display: flex;
    align-items: center;
}
.crew .tabs li {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: var(--main-transition);
}
.crew .tabs li.active {
    background-color: var(--white-color);
}
.crew .tabs li:hover {
    background-color: var(--secondary-color);
}
/* technology section */
.technology {
    background: no-repeat url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover; 
    background-position: 100%;
    overflow-x: hidden;
}
.technology .container {
    padding: 50px 0 0;
    height: calc(100vh - 136px);
}
.technology .tabs {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.technology .tabs li a {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 32px;
    transition: var(--main-transition);
}
.technology .tabs li.active a {
    color: var(--primary-color);
    background-color: var(--white-color);
    border-color: white;
}
.technology .tabs li:hover a {
    border-color: white;
}
.technology .container>div {
    display: flex;
    align-items: center;
}
.technology .tab-content {
    display: flex;
    align-items: center;
}
.technology .tab-content .content div {
    margin-bottom: 20px;
}
.technology .tab-content .content h3 {
    margin-bottom: 20px;
}
.technology .tab-content  img.mobile {
    display: none;
}

/* MEDIA QUERIES */
/* tablet size */
@media (max-width: 1199px) {
    /* home */
    .home {
        background-image: url("../assets/home/background-home-tablet.jpg");
    }
    .home .container {
        height: unset;
        padding: 100px 0px;
        text-align: center;
        flex-direction: column;
        gap: 100px;
    }
    /* destination */
    .destination {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }
    .destination .container {
        height: unset;
    }
    .destination .tab-content {
        flex-direction: column;
        gap: 0;
    }
    .destination .tab-content img {
        width: 300px;
    }
    .destination .container ul.tabs {
        justify-content: center;
        margin: 20px 0;
    }
    .destination .tab-content .content {
        text-align: center;
    }
    .destination .tab-content .content h2 {
        margin: 0;
        font-size: 4.5rem;
    }
    .destination .tab-content .data {
        justify-content: center;
    }
    /* crew */
    .crew {
        background-image: url("../assets/crew/background-crew-tablet.jpg");
    }
    .crew .tabs {
        display: none;
    }
    .crew .tabs.tabs-mobile {
        display: flex;
        justify-content: center;
    }
    .crew .tab-content {
        flex-direction: column;
        align-items: center;
    }
    .crew .tab-content .content {
        text-align: center;
    }
    .crew .tab-content img {
        width: 50%;
    }
    /* technology */
    .technology {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }
    .technology .tabs {
        flex-direction: row;
        margin: 20px 0px;
        font-size: 18px;
    }
    .technology .tabs li {
        margin-right: 20px;
    }
    .technology .container>div {
        flex-direction: column;
    }
    .technology .tab-content  img.mobile {
        display: unset;
        margin-bottom: 20px;
        width: 100%;
    }
    .technology .tab-content  img:last-child {
        display: none;
    }
    .technology .tab-content {
        flex-direction: column;
        text-align: center;
    }
}
/* mobile size */
@media (max-width: 768px) {
    .container .title {
        text-align: center;
        font-size: 18px;
    }
    /* home */
    .home {
        background-image: url("../assets/home/background-home-mobile.jpg");
    }
    .home .container .content h1 {
        font-size: 100px;
        margin-bottom: 20px;
    }
    .home .container .content h5{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .home .container .explore {
        font-size: 24px;
    }
    /* destination */
    .destination {
        background-image: url("../assets/destination/background-destination-mobile.jpg");
    }
    .destination .tab-content img {
        width: 170px;
    }
    .destination .tab-content .data {
        flex-direction: column;
        margin-bottom: 20px;
    }
    /* crew */
    .crew {
        background-image: url("../assets/crew/background-crew-mobile.jpg");
    }
    .crew .tabs.tabs-mobile {
        margin: 20px 0;
    }
    .crew .tab-content .content h3 {
        font-size: 48px;
    }
    .crew .tab-content img {
        order: -1;
    }
    /* technology */
    .technology {
        background-image: url("../assets/technology/background-technology-mobile.jpg");
    }
}